.event-top {
    position: relative;
    &__img {

        img {
            height: 60vw;
            width: 100%;
            object-fit: cover;
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-30%) translateX(-50%);
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: white;
        font-size: 6.5vw;
    }

    &__btn {
        &__wrapper {
            width: 250px;
            margin: auto;
        }
    }

    &__btn.registration-btn {
        margin: 30px 0;
        color: white;
        &::before,
        &::after {
            background: $base-color;
        }
    }

    &__btn.login-btn {
        color: white;
        &::before,
        &::after {
            background: $twitter-color;
        }
    }
}

.event-info {
    background: $background-color;

    &__description {
        display: flex;
        width: 80%;
        justify-content:space-around;
        @include max-screen($size-s) {
            flex-direction: column;
        }

        &__content {
            width: 33vw;
            @include max-screen($size-s) {
                width: 80%;
                margin: 30px auto 0;
            }
        }

        &__circle {
            position: relative;
            display: inline-block;
            width: 20vw;
            height: 20vw;
            border: 10px solid $footer-color;
            border-radius: 50%;
            @include max-screen($size-s) {
                width: 40vw;
                height: 40vw;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }

        &__icon {
            font-size: 10vw;
        }

        &__title {
            font-size: 1.6em;
            padding: 20px 0;
        }

        &__text {
            color: $link-color;
            font-size: 1.1em;
            width: 95%;
        }
    }
}