.loader-wrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 10000;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader{
  margin:200px auto;
  &__icon {
    font-size: 100px;
    color: $footer-color;
  }
}
#loading-text{
  font-family: 'Actor', sans-serif;
  color: $footer-color;
  font-size:16px;
  letter-spacing:1px;
  font-weight:200;
  text-align:center;
  margin-top: 20px;
  font-size: 20px;
}
.loader span{
  width:16px;
  height:16px;
  border-radius:50%;
  display:inline-block;
  position:absolute;
  left:50%;
  margin-left:-10px;
  -webkit-animation:3s infinite linear;
  -moz-animation:3s infinite linear;
  -o-animation:3s infinite linear;
}

// TIPS: nth-child(n番) でloaderの番号を選択できる
.loader span:nth-child(3){
  background:#E84C3D;
  -webkit-animation:kiri 1.2s infinite linear;
  -moz-animation:kiri 1.2s infinite linear;
  -o-animation:kiri 1.2s infinite linear;
  height: 30px;
  width: 30px;

}
.loader span:nth-child(4){
  background:#F1C40F;
  z-index:100;
  height: 30px;
  width: 30px;
}
.loader span:nth-child(5){
  background: #0429f7;
  -webkit-animation:kanan 1.2s infinite linear;
  -moz-animation:kanan 1.2s infinite linear;
  -o-animation:kanan 1.2s infinite linear;
  height: 30px;
  width: 30px;
}


@-webkit-keyframes kanan {
    0% {-webkit-transform:translateX(40px);
    }

  50%{-webkit-transform:translateX(-40px);
  }

  100%{-webkit-transform:translateX(40px);
  z-index:200;
  }
}
@-moz-keyframes kanan {
    0% {-moz-transform:translateX(40px);
    }

  50%{-moz-transform:translateX(-40px);
  }

  100%{-moz-transform:translateX(40px);
  z-index:200;
  }
}
@-o-keyframes kanan {
    0% {-o-transform:translateX(40px);
    }

  50%{-o-transform:translateX(-40px);
  }

  100%{-o-transform:translateX(40px);
  z-index:200;
  }
}




@-webkit-keyframes kiri {
     0% {-webkit-transform:translateX(-40px);
  z-index:200;
    }
  50%{-webkit-transform:translateX(40px);
  }
  100%{-webkit-transform:translateX(-40px);
  }
}

@-moz-keyframes kiri {
     0% {-moz-transform:translateX(-40px);
  z-index:200;
    }
  50%{-moz-transform:translateX(40px);
  }
  100%{-moz-transform:translateX(-40px);
  }
}
@-o-keyframes kiri {
     0% {-o-transform:translateX(-40px);
  z-index:200;
    }
  50%{-o-transform:translateX(40px);
  }
  100%{-o-transform:translateX(-40px);
  }
}